.social-link:hover {
    color: rgba(255, 255, 255, .75);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-img {
    width: 400px;
    height: 400px;
    margin-right: 70px;
}

.about-me {
    padding: 10px;
}